* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

@media screen and (min-width: 1000px) {
  .head {
    background-color: lightgray;
    width: 100%;
    height: 15%;
    margin-bottom: auto;
  }

  .content {
    display: flex;
    width: 100%;
    height: 65%;
  }

  .content-a {
    background-color: darkgreen;
    height: 100%;
    flex-grow: 1;
  }

  .content-b {
    background-color: yellowgreen;
    height: 100%;
    flex-grow: 2;
  }

  .content-c {
    background-color: yellow;
    height: 100%;
    flex-grow: 1;
  }

  .foot {
    background-color: gray;
    width: 100%;
    height: 15%;
    margin-top: auto;
  }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
  .head {
    background-color: lightgray;
    width: 100%;
    height: 15%;
    margin-bottom: auto;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 65%;
  }

  .content-a {
    background-color: yellowgreen;
    height: 50%;
    width: 100%;
  }

  .content-b {
    background-color: darkgreen;
    height: 50%;
    width: 50%;
  }

  .content-c {
    background-color: yellow;
    height: 50%;
    width: 50%;
  }

  .foot {
    background-color: lightgray;
    width: 100%;
    height: 15%;
    margin-top: auto;
  }
}

@media screen and (max-width: 600px) {
  .head {
    background-color: lightgray;
    width: 100%;
    height: 10%;
    margin-bottom: auto;
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 75%;
  }

  .content-a {
    background-color: yellowgreen;
    flex-grow: 2;
  }

  .content-b {
    background-color: darkgreen;
    flex-grow: 1;
    /* height:50%;
        width: 50%; */
  }

  .content-c {
    background-color: yellow;
    flex-grow: 1;
    /* height:50%;
        width: 50%; */
  }

  .foot {
    background-color: lightgray;
    width: 100%;
    height: 10%;
    margin-top: auto;
  }
}
